.carrossel {

}

.carrossel_titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination { 
    position: initial;
    margin: 0.5em 0;
}

.card {
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.card_descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao_titulo_info {
    color: var(--laranja);
    font-weight: 700;
}

.descricao_titulo {
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5em 0;
}

.descricao_texto {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
}

.card_botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;

}

.botoes_item {
    margin: 0 0.5em;
}

.botoes_ancora {
    color: var(--branco);
    background: var(--laranja);
    padding: 1em 2.2em;
}

.descricao_imagem_autora {
    margin-bottom: .5em;
}