a {
    text-decoration: none;
    color: var(--preto);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: var(--fonte-padrao);
}

.cabecalho_menu {
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.cabecalho_menu:active {
    background-color: bisque;
}

.container_checkbox {
    display: none;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista_menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista_menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista_menu_titulo, .lista_menu_item {
    padding: 0.5em;
    background-color: var(--branco);
}

.container_checkbox:checked ~ .lista_menu {
    display: block;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1em;
}

.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}


@media screen and (min-width: 1024px) {
    .cabecalho {
        justify-content: space-evenly;
    }

    .cabecalho_menu {
        display: none;
    }

    .container_titulo, .container_titulo_negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container_titulo {
        display: block;
        font-weight: 400;
    }

    .container_titulo_negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes_item {
        padding: 1em 0.5em;
        text-transform: uppercase;
    }

    .container_imagem_transparente {
        display: none;
    }

    .opcoes_checkbox {
        display: none;
    }

    .opcoes_checkbox:checked ~ .lista_menu {
        display: block;
        width: auto;
    }

    .opcoes_checkbox:checked ~ .checkbox_label {
        background: var(--azul-degrade);
        color: var(--branco);
    }
}