.topicos_visitados {
    background: var(--azul-degrade);
    color: var(--branco);
    padding: 1em 0;
    text-align: center;
}

.topicos_titulo {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.lista_topicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista_topicos_item {
    margin: 2em 0.5em;
}

.lista_topicos_link {
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    padding: 1em;
    background: var(--laranja);
}

@media screen and (min-width: 1024px) {
    .topicos_visitados {
        padding: 2em;
    }
    
    .topicos_titulo {
        font-size: 24px;
        padding: 1em;
    }

    .lista_topicos_link {
        font-size: 24px;
    }

    .lista_topicos {
        justify-content: center;
    }

    .lista_topicos_link:hover {
        background: lightcoral;
    }
}

@media screen and (min-width: 1728px) {
    .topicos_titulo {
        font-size: 32px;
    }

    .lista_topicos_link {
        font-size: 24px;
    }

    .lista_topicos {
        margin: auto;
        width: 50%;
    }
}